@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: 'Montserrat';
}
body{
    background: #000000;
    height: 100vh;
    margin: 0;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    & .logo{
        width: auto;
        height: 10vh;
        cursor: pointer;
    }
    & .search{
        background: none;
        color: #f87400;
        height: 25px;
        justify-self: center;
        align-self: center;
        border-color: #f87400;
        border-radius: 30px;
        text-indent: 5px;
        &:focus{
            color:#fff;
        }
    }
    & .cart{
        width: 8vh;
        height: 8vh;
        font-size: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f87400;
        border: 1px solid #f87400;
        border-radius: 100%;
        transition: 0.2s;
        &.active{
                background: #f87400;
                color: #000000;
        }
    }
    }
hr{
    border-color: rgba(53, 53, 53, 0.5);
}
.addItem{
    align-items: center;
    justify-content: flex-start;
    display: flex;
    background-color: #5e5e5e5b;
    padding: 30px;
    color: #f87400;
    border-radius: 10px;
    width: 40vw;
    height: auto;
    position: absolute;  
    top: 50%;            
    left: 50%;          
    transform: translate(-50%, -50%); 
}
#addItemForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    & #image{
        font-family: 'Montserrat';
        font-size: 16px;
    }
}
button{
    background: none;
    border: 1px solid rgba(53, 53, 53, 0.5);
    color: #f87400;
    margin: 1px;
    &#newItem{
        border: 0;
        font-size: 2rem;
        transition: 0.2s;
    }
}
#newItem:hover{
    transform: scale(1.5);
}